{% extends "base.html" %}

<style>
#tweet-container {

}
</style>

{% block script %}
<script>
$(document).ready(function(){
  loadTweetContainer("tweet-container")
});
</script>
{% endblock script %}

{% block content %}

   <div class="col-sm-8 col-sm-offset-2">
      <div class='row'>
          <div class='col-sm-12'>
            {% if request.GET.q %}
            <p class='lead'>Results for {{ request.GET.q }}</p>
            {% endif %}
            <hr/>
          </div>
          <div class='col-sm-9 '>
            <h3>Tweets</h3>
               {% if not request.GET.q %}
                  <div class=''>
                      
                      {% include "tweets/form.html" with form=create_form action_url=create_url btn_title='Tweet' form_class='tweet-form' %}

                  </div>
                  <hr/>
              {% endif %}

            <div id='tweet-container' data-url='/api/search/'>
              
            </div>
            <a href='#' id='loadmore'>Load More Tweets</a>

          </div>

          <div class='col-sm-3 col-xs-12' style="background-color: rgba(128, 18 ,77, 0.1); border-radius: 15px; color: white;">
          <h3>Users</h3>
            {% for user in users %}
              <a style="color:white" href="/{{ user.username }}/">{{ user.username }}</a>
              <br/>
            {% empty %}
            <p>No Users Found</p>   
            {% endfor %}
            <p></p>
          </div>

      </div>
    </div>

{% endblock content %}